In [154]:
import pandas as pd
import numpy as np
import matplotlib as plt

%matplotlib inline

In [155]:
dfWeath = pd.read_csv('../assets/weather.csv')

In [156]:
dfWeath.drop(['SnowFall', 'CodeSum','Depth','Sunrise','Sunset','Depart','Heat','Cool','Depth','Water1'],axis=1, inplace=True)

In [157]:
dfWeath = dfWeath.replace('M',np.nan)
dfWeath['PrecipTotal'] = dfWeath['PrecipTotal'].str.replace('T','NaN')    
dfWeath['Date'] = pd.to_datetime(dfWeath['Date'])

In [158]:
for i in dfWeath.columns[2:]:
    if dfWeath[i].dtype == object:
        dfWeath[i]= dfWeath[i].astype(float, inplace=True)

In [159]:
dfWeathDate = dfWeath.groupby(['Date']).mean()

In [160]:
dfWeathDate.head()

,Station,Tmax,Tmin,Tavg,DewPoint,WetBulb,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
Date,,,,,,,,,,,,
2007-05-01,1.5,83.5,51.0,67.5,51.0,56.5,0.0,29.140,29.820,2.20,26.0,9.40
2007-05-02,1.5,59.5,42.5,51.5,42.0,47.0,0.0,29.410,30.085,13.15,3.0,13.40
2007-05-03,1.5,66.5,47.0,57.0,40.0,49.0,0.0,29.425,30.120,12.30,6.5,12.55
2007-05-04,1.5,72.0,50.0,58.0,41.5,50.0,0.0,29.335,30.045,10.25,7.5,10.60
2007-05-05,1.5,66.0,53.5,60.0,38.5,49.5,NaN,29.430,30.095,11.45,7.0,11.75

In [161]:
dfWeathDate.to_csv('../assets/weatherDate.csv')

In [162]:
dfTrain= pd.read_csv('../assets/Train.csv')

In [163]:
dfTrain['Date'] = pd.to_datetime(dfTrain['Date'])

In [164]:
df = pd.merge(dfTrain, dfWeath, on='Date', how='left')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21012 entries, 0 to 21011
Data columns (total 24 columns):
Date                      21012 non-null datetime64[ns]
Address                   21012 non-null object
Species                   21012 non-null object
Block                     21012 non-null int64
Street                    21012 non-null object
Trap                      21012 non-null object
AddressNumberAndStreet    21012 non-null object
Latitude                  21012 non-null float64
Longitude                 21012 non-null float64
AddressAccuracy           21012 non-null int64
NumMosquitos              21012 non-null int64
WnvPresent                21012 non-null int64
Station                   21012 non-null int64
Tmax                      21012 non-null int64
Tmin                      21012 non-null int64
Tavg                      21012 non-null float64
DewPoint                  21012 non-null int64
WetBulb                   20919 non-null float64
PrecipTotal               18979 non-null float64
StnPressure               20919 non-null float64
SeaLevel                  21012 non-null float64
ResultSpeed               21012 non-null float64
ResultDir                 21012 non-null int64
AvgSpeed                  21012 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(9), object(5)
memory usage: 4.0+ MB

In [165]:
dfWeathDate.to_csv('../assets/trainWeather.csv')